* {
    box-sizing: border-box;
}

:root {
    height: 100%;
    font-size: 16px;
}

body {
    color: #303030;
    font-family: Helvetica, sans-serif;
    cursor: default;
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: -webkit-fill-available;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

#pctmap-wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(90deg, #83aac4 50%, #d4d7d8 50%);
}

#pctmap {
    position: relative;
    position: absolute;
    transform: translateX(-45%);
    left: 45%;
    height: 108%;
    min-height: 400px;
}

.trail-progress-hiked,
.trail-progress-skipped {
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    filter: drop-shadow(0 0 10px #0002);
}

.trail-progress-hiked {
    stroke: #e16220;
    stroke-width: 12px;
}

.trail-progress-hiked.estimated {
    /* */
}

.trail-progress-skipped {
    stroke: #fff8;
    stroke-width: 14px;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
}

#pctmap-status {
    position: absolute;
    left: calc( 45% + 60px );
    top: 10%;
    color: #555;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.status-section {
    background: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.02), 0 0 10px rgba(0, 0, 0, 0.04), 0 0 5px rgba(0, 0, 0, 0.08);
    border-radius: 0.75rem;
}

.status-section > :first-child {
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.status-section > :last-child {
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.status-floater {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
    padding: 0.5rem 1.5rem;
    letter-spacing: 0.01rem;
}

.header-title {
    font-size: 1rem;
    color: #444;
}

.header-subtitle {
    font-size: 0.8rem;
    color: #777;
}

.status-header {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    /* border-bottom: 1px solid #ddd; */
    text-align: center;
    padding: 0.8rem 1.75rem;
    background: #eee;
    letter-spacing: 0.01rem;
}

.status-header .header-title {
    font-size: 0.9rem;
    color: #555;
}

.status-main {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    gap: 1.5rem;
}

.status-values {
    flex-grow: 0;
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
}

.status-value {
    display: block;
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
    flex-grow: 1;
}

.status-value[data-label]:after {
    display: block;
    content: attr(data-label);
    letter-spacing: 0.1px;
    color: #999;
    font-size: 0.75rem;
    padding-top: 0.3rem;
}

.status-value:before {
    content: '\00A0';
    opacity: 0;
    transition: opacity .2s;
}

.status-value[data-value]:before {
    content: attr(data-prefix) attr(data-value) attr(data-suffix);
    opacity: 1;
}

.status-value.days {
    color: #777;
}

.status-value.miles {
    color: #e16220;
}

.status-value.miles-left {
    color: #87a395;
}

.status-value.checkpoint {
    font-size: 1.5rem;
}

.status-value.estimated-completion {
    /* */
}

@supports (backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) {
    .status-section {
        background: #fffa;
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
    }

    .status-header {
        background: #00000010;
    }
}

.info {
    display: block;
    position: absolute;
    left: 16px;
    bottom: 16px;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #000;
    mix-blend-mode: soft-light;
}

.info-item {
    display: block;
    margin-top: 6px;
}

.info-last-update:after {
    content: attr(data-last-update);
}

.info-start-date:after {
    content: attr(data-start-date);
}

@media (min-width: 800px) {
    :root {
        font-size: 20px;
    }
}

@media (max-width: 550px) {
    #pctmap-status {
        left: unset;
        right: 0;
    }

    .status-section {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .status-section > :first-child {
        border-top-right-radius: 0;
    }

    .status-section > :last-child {
        border-bottom-right-radius: 0;
    }

    .info {
        font-size: 12px;
        left: 12px;
        bottom: 12px;
    }

    .info-item {
        margin-top: 4px;
    }
}

@media (max-width: 460px) {
    .status-values {
        flex-direction: column;
        justify-content: center;
        gap: 1.25rem;
    }

    .status-value.checkpoint {
        font-size: 1.2rem;
    }

    .hide-460 {
        display: none;
    }
}

@media (max-width: 380px) {
    :root {
        font-size: 14px;
    }

    .hide-380 {
        display: none;
    }
}

@media (max-height: 600px) {
    :root {
        font-size: 15px;
    }

    #pctmap-status {
        top: 8%;
    }

    .status-header {
        padding: 0.75rem 1.5rem;
    }

    .status-main {
        padding: 1rem;
    }

    .status-main,
    .status-values {
        gap: 1.5rem;
    }
}

@media (max-height: 340px) {
    :root {
        font-size: 14px;
    }

    .hide-460 {
        display: none;
    }
}
