* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    color: #303030;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    cursor: default;
    margin: 0;
    padding: 0;
    height: 100%;
    max-height: -webkit-fill-available;
    min-width: 320px;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

#pctmap-wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(90deg, #83aac4 50%, #d4d7d8 50%);
}
#pctmap {
    position: relative;
    position: absolute;
    transform: translateX(-45%);
    left: 45%;
    height: 100%;
    min-height: 400px;
}
#pctmap-status {
    position: absolute;
    left: calc( 45% + 70px );
    top: 10%;
    padding: 15px 20px;
    gap: 15px;
    background: #fffd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.header-title {
    font-weight: normal;
    font-size: 28px;
    padding: 0;
    margin: 0;
    color: #555;
}
.header-title.short {
    display: none;
}

.header-subtitle {
    font-weight: normal;
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    color: #777;
}

.status-row {
    margin-top: 20px;
}

.status-label {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 4px;
    color: #555;
}

.status-value {
    display: block;
    font-size: 28px;
    margin: 0px 0;
    color: #e16220;
}

.status-smalltext {
    display: inline-block;
    font-size: 14px;
    color: #888;
    text-align: right;
}

.status-value.miles:before,
.status-value.days:before {
    content: '\00A0';
    opacity: 0;
    transition: opacity .2s;
}

.status-value.miles[data-miles]:before {
    content: attr(data-miles) ' miles';
    opacity: 1;
}

.status-value.miles[data-miles-estimate]:before {
    content: '~' attr(data-miles-estimate) ' miles';
    opacity: 1;
}

.status-value.days[data-days]:before {
    content: attr(data-days) ' days';
    opacity: 1;
}

.info {
    display: block;
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 14px;
    color: #000;
    mix-blend-mode: soft-light;
}
.info-last-update:after {
    content: attr(data-last-update);
}

@media (max-width: 640px) {
    #pctmap-status {
        left: unset;
        right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding-right: 40px;
    }
}

@media (max-width: 420px) {
    .header-title {
        display: none;
    }
    .header-title.short {
        display: initial;
    }

    .status-label {
        font-size: 14px;
    }

    .status-value {
        font-size: 26px;
    }
}
