.highlight { color: #282828 }
.highlight .c { color: #bdae93 } /* Comment */
.highlight .err { color: #cc241d } /* Error */
.highlight .k { color: #b16286 } /* Keyword */
.highlight .l { color: #d65d0e } /* Literal */
.highlight .n { color: #282828 } /* Name */
.highlight .o { color: #689d6a } /* Operator */
.highlight .p { color: #282828 } /* Punctuation */
.highlight .cm { color: #bdae93 } /* Comment.Multiline */
.highlight .cp { color: #bdae93 } /* Comment.Preproc */
.highlight .c1 { color: #bdae93 } /* Comment.Single */
.highlight .cs { color: #bdae93 } /* Comment.Special */
.highlight .gd { color: #cc241d } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gh { color: #282828; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #98971a } /* Generic.Inserted */
.highlight .gp { color: #bdae93; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #689d6a; font-weight: bold } /* Generic.Subheading */
.highlight .kc { color: #b16286 } /* Keyword.Constant */
.highlight .kd { color: #b16286 } /* Keyword.Declaration */
.highlight .kn { color: #689d6a } /* Keyword.Namespace */
.highlight .kp { color: #b16286 } /* Keyword.Pseudo */
.highlight .kr { color: #b16286 } /* Keyword.Reserved */
.highlight .kt { color: #d79921 } /* Keyword.Type */
.highlight .ld { color: #98971a } /* Literal.Date */
.highlight .m { color: #d65d0e } /* Literal.Number */
.highlight .s { color: #98971a } /* Literal.String */
.highlight .na { color: #458588 } /* Name.Attribute */
.highlight .nb { color: #282828 } /* Name.Builtin */
.highlight .nc { color: #d79921 } /* Name.Class */
.highlight .no { color: #cc241d } /* Name.Constant */
.highlight .nd { color: #689d6a } /* Name.Decorator */
.highlight .ni { color: #282828 } /* Name.Entity */
.highlight .ne { color: #cc241d } /* Name.Exception */
.highlight .nf { color: #458588 } /* Name.Function */
.highlight .nl { color: #282828 } /* Name.Label */
.highlight .nn { color: #d79921 } /* Name.Namespace */
.highlight .nx { color: #458588 } /* Name.Other */
.highlight .py { color: #282828 } /* Name.Property */
.highlight .nt { color: #689d6a } /* Name.Tag */
.highlight .nv { color: #cc241d } /* Name.Variable */
.highlight .ow { color: #689d6a } /* Operator.Word */
.highlight .w { color: #282828 } /* Text.Whitespace */
.highlight .mf { color: #d65d0e } /* Literal.Number.Float */
.highlight .mh { color: #d65d0e } /* Literal.Number.Hex */
.highlight .mi { color: #d65d0e } /* Literal.Number.Integer */
.highlight .mo { color: #d65d0e } /* Literal.Number.Oct */
.highlight .sb { color: #98971a } /* Literal.String.Backtick */
.highlight .sc { color: #282828 } /* Literal.String.Char */
.highlight .sd { color: #bdae93 } /* Literal.String.Doc */
.highlight .s2 { color: #98971a } /* Literal.String.Double */
.highlight .se { color: #d65d0e } /* Literal.String.Escape */
.highlight .sh { color: #98971a } /* Literal.String.Heredoc */
.highlight .si { color: #d65d0e } /* Literal.String.Interpol */
.highlight .sx { color: #98971a } /* Literal.String.Other */
.highlight .sr { color: #98971a } /* Literal.String.Regex */
.highlight .s1 { color: #98971a } /* Literal.String.Single */
.highlight .ss { color: #98971a } /* Literal.String.Symbol */
.highlight .bp { color: #282828 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #cc241d } /* Name.Variable.Class */
.highlight .vg { color: #cc241d } /* Name.Variable.Global */
.highlight .vi { color: #cc241d } /* Name.Variable.Instance */
.highlight .il { color: #d65d0e } /* Literal.Number.Integer.Long */

/* GRUVBOX DARK FOR NIGHT MODE */

body.night .highlight { color: #ebdbb2; }
body.night .highlight .c { color: #928374; font-style: italic; } /* Comment */
body.night .highlight .err { color: #ebdbb2; } /* Error */
body.night .highlight .esc { color: #ebdbb2; } /* Escape */
body.night .highlight .g { color: #ebdbb2; } /* Generic */
body.night .highlight .k { color: #fe8019; } /* Keyword */
body.night .highlight .l { color: #ebdbb2; } /* Literal */
body.night .highlight .n { color: #ebdbb2; } /* Name */
body.night .highlight .o { color: #fe8019; } /* Operator */
body.night .highlight .x { color: #ebdbb2; } /* Other */
body.night .highlight .p { color: #ebdbb2; } /* Punctuation */
body.night .highlight .ch { color: #928374; font-style: italic; } /* Comment.Hashbang */
body.night .highlight .cm { color: #928374; font-style: italic; } /* Comment.Multiline */
body.night .highlight .cp { color: #8ec07c; } /* Comment.Preproc */
body.night .highlight .c1 { color: #928374; font-style: italic; } /* Comment.Single */
body.night .highlight .cs { color: #928374; font-style: italic; } /* Comment.Special */
body.night .highlight .gd { color: #282828; background-color: #fb4934 } /* Generic.Deleted */
body.night .highlight .ge { color: #83a598; text-decoration: underline; } /* Generic.Emph */
body.night .highlight .gr { color: #ebdbb2; font-weight: bold; background-color: #fb4934 } /* Generic.Error */
body.night .highlight .gh { color: #b8bb26; font-weight: bold; } /* Generic.Heading */
body.night .highlight .gi { color: #282828; background-color: #b8bb26 } /* Generic.Inserted */
body.night .highlight .go { color: #504945; } /* Generic.Output */
body.night .highlight .gp { color: #ebdbb2; } /* Generic.Prompt */
body.night .highlight .gs { color: #ebdbb2; } /* Generic.Strong */
body.night .highlight .gu { color: #b8bb26; font-weight: bold; } /* Generic.Subheading */
body.night .highlight .gt { color: #ebdbb2; font-weight: bold; background-color: #fb4934 } /* Generic.Traceback */
body.night .highlight .kc { color: #fe8019; } /* Keyword.Constant */
body.night .highlight .kd { color: #fe8019; } /* Keyword.Declaration */
body.night .highlight .kn { color: #fe8019; } /* Keyword.Namespace */
body.night .highlight .kp { color: #fe8019; } /* Keyword.Pseudo */
body.night .highlight .kr { color: #fe8019; } /* Keyword.Reserved */
body.night .highlight .kt { color: #fabd2f; } /* Keyword.Type */
body.night .highlight .ld { color: #ebdbb2; } /* Literal.Date */
body.night .highlight .m { color: #d3869b; } /* Literal.Number */
body.night .highlight .s { color: #b8bb26; } /* Literal.String */
body.night .highlight .na { color: #b8bb26; font-weight: bold; } /* Name.Attribute */
body.night .highlight .nb { color: #fabd2f; } /* Name.Builtin */
body.night .highlight .nc { color: #ebdbb2; } /* Name.Class */
body.night .highlight .no { color: #d3869b; } /* Name.Constant */
body.night .highlight .nd { color: #ebdbb2; } /* Name.Decorator */
body.night .highlight .ni { color: #fabd2f; } /* Name.Entity */
body.night .highlight .ne { color: #fb4934; } /* Name.Exception */
body.night .highlight .nf { color: #fabd2f; } /* Name.Function */
body.night .highlight .nl { color: #fb4934; } /* Name.Label */
body.night .highlight .nn { color: #ebdbb2; } /* Name.Namespace */
body.night .highlight .nx { color: #ebdbb2; } /* Name.Other */
body.night .highlight .py { color: #ebdbb2; } /* Name.Property */
body.night .highlight .nt { color: #fb4934; } /* Name.Tag */
body.night .highlight .nv { color: #ebdbb2; } /* Name.Variable */
body.night .highlight .ow { color: #fe8019; } /* Operator.Word */
body.night .highlight .w { color: #ebdbb2; } /* Text.Whitespace */
body.night .highlight .mb { color: #d3869b; } /* Literal.Number.Bin */
body.night .highlight .mf { color: #d3869b; } /* Literal.Number.Float */
body.night .highlight .mh { color: #d3869b; } /* Literal.Number.Hex */
body.night .highlight .mi { color: #d3869b; } /* Literal.Number.Integer */
body.night .highlight .mo { color: #d3869b; } /* Literal.Number.Oct */
body.night .highlight .sb { color: #b8bb26; } /* Literal.String.Backtick */
body.night .highlight .sc { color: #b8bb26; } /* Literal.String.Char */
body.night .highlight .sd { color: #b8bb26; } /* Literal.String.Doc */
body.night .highlight .s2 { color: #b8bb26; } /* Literal.String.Double */
body.night .highlight .se { color: #b8bb26; } /* Literal.String.Escape */
body.night .highlight .sh { color: #b8bb26; } /* Literal.String.Heredoc */
body.night .highlight .si { color: #b8bb26; } /* Literal.String.Interpol */
body.night .highlight .sx { color: #b8bb26; } /* Literal.String.Other */
body.night .highlight .sr { color: #b8bb26; } /* Literal.String.Regex */
body.night .highlight .s1 { color: #b8bb26; } /* Literal.String.Single */
body.night .highlight .ss { color: #83a598; } /* Literal.String.Symbol */
body.night .highlight .bp { color: #fabd2f; } /* Name.Builtin.Pseudo */
body.night .highlight .vc { color: #ebdbb2; } /* Name.Variable.Class */
body.night .highlight .vg { color: #ebdbb2; } /* Name.Variable.Global */
body.night .highlight .vi { color: #ebdbb2; } /* Name.Variable.Instance */
body.night .highlight .il { color: #d3869b; } /* Literal.Number.Integer.Long */