<nav>
    <div class="navbar">
        <div class="nav-left">
            <span>
                <a href{% if include.home != "true" %}="/"{% endif %}>Home</a>
            </span>
        </div>
        <div class="nav-right">
            <span>
                <a href="https://www.linkedin.com/in/shaheenpage">
                    <img class="social" src="/img/linkedin.png" />
                    <img class="social social-night" src="/img/linkedin-night.png" style="display:none;" />
                </a>
            </span>
            <span>
                <a href="https://www.github.com/shaheenp">
                    <img class="social" src="/img/github.png" />
                    <img class="social social-night" src="/img/github-night.png" style="display:none;" />
                </a>
            </span>
        </div>
    </div>
</nav>